// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #33CC33;
  color: #333;
  font-family: verdana, arials, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
}
pre {
  background-color: #EEE;
  padding: 10px;
  font-size: 11px;
}